<div class="py-6 bg-gold relative" style="width: 100%;">

    <div class="cut-white-t-bottom"></div>
    <div class="cut-white-bottom"></div>

    <div class="container2">
        <h1 class="text-white-b text-center">Servicios</h1>

        <div class="row m-auto pt-5" style="width: 100%;">
            <div class="col-xl-4 col-lg-6 zoomImg p">
                <div class="circle">
                    <div class="bg-circle"></div>
                    <img src="assets/img/default/services/diseno-web.jpg" alt="">

                </div>
                <h2 class="text-center mt-3 text-white-b">Diseño Web</h2>
                <p style="max-width: 500px;" class="text-justify m-auto">Diseñamos sitios únicos, 100% originales, para ello estudiamos exhaustivamente la filosofía e identidad visual de la marca. No nos limitamos con el uso de plantillas ni gestores de contenidos.</p>
                <br>
                <br>

            </div>
            <div class="col-xl-4 col-lg-6 zoomImg">
                <div class="circle">
                    <div class="bg-circle"></div>

                    <img src="assets/img/default/services/programacion-web.jpg" alt="">

                </div>
                <h2 class="text-center mt-3 text-white-b">Desarrollo Web</h2>
                <p style="max-width: 500px;" class="text-justify m-auto">Desarrollamos sitios web personalizados desde cero, a través de la creación de algoritmos, basados en códigos de programación, ajustados a las necesidades de la marca y modificable en cualquier momento.

                </p>
                <br>
                <br>


            </div>
            <div class="col-xl-4 zoomImg">
                <div class="circle">
                    <div class="bg-circle"></div>

                    <img src="assets/img/default/services/marketing-digital.jpg" alt="">

                </div>
                <h2 class="text-center mt-3 text-white-b">Marketing Digital</h2>
                <p class="m-0 mt-1" style="max-width: 500px;" class="text-justify m-auto">  Imagen Corporativa Digital.</p>
                <p class="m-0 mt-1" style="max-width: 500px;" class="text-justify m-auto">  Creación y Gestión de Contenidos: para blog, sitios web y distintos medios digitales.</p>
                 <p class="m-0 mt-1" style="max-width: 500px;" class="text-justify m-auto">  Gestión de Redes Sociales: creación, diseño, edición y gestión de contenidos.</p>






                <!-- <p class="m-0 mt-1" style="max-width: 500px;" class="text-justify m-auto"> Imagen corporativa.</p>
                <p class="m-0 mt-1" style="max-width: 500px;" class="text-justify m-auto"> Creación de contenido para: blog, sitios web, redes sociales, entre otros. </p>
                <p class="m-0 mt-1" style="max-width: 500px;" class="text-justify m-auto">Manejo de redes sociales: Diseño gráfico y Community Manager.</p>

                <p class="m-0 mt-1" style="max-width: 500px;" class="text-justify m-auto">Google ADS. </p>
                <p class="m-0 mt-1" style="max-width: 500px;" class="text-justify m-auto">Posicionamiento digital de marca. </p>
                <p class="m-0 mt-1" style="max-width: 500px;" class="text-justify m-auto">Administración de contenido de sitios web. </p> -->

                <br>
                <br>


            </div>
        </div>
    </div>
</div>
