<div class="animate fadeIn">

    <div class="bg-title relative" style="background-image: url('assets/img/default/slider/programacion.jpg');">
        <h1>Edwar Villavicencio</h1>
        <div class="cut-white-t-bottom"></div>
        <div class="cut-white-bottom"></div>
    </div>


    <div class="py-6">
        <div class="container2 cardProfile m-auto">
            <img src="assets/img/default/fundadores/Edwar.jpg" alt="">
            <div class="containter-text">
                <div>
                    <h2 class="">Edwar Villavicencio</h2>
                    <h5 class="text-gold text-  m-0">Ingeniero de Sistemas y Programador Web (Backend-Frontend). </h5>



                    <br>
                    <p class="text-justify">
                        <i class="fas fa-quote-left text-secondary"></i> Me gusta manejar y aprender un poco de cada área relacionada a la programación, ya sea que este trabajando solo o junto a múltiples especialistas, pues creo que es la mejor forma
                        de integrar eficazmente distintos componentes de un sistema. Si bien es bastante difícil dominar las diversas áreas de la programación, me resulta atractivo al menos una parte en cada una de ellas.
                        <i class="fas fa-quote-right text-secondary"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="bg-gold relative">

        <div class="cut-white-top"></div>
        <div class="cut-white-t-top"></div>
        <div class="cut-white-t-bottom" style="z-index: 5;"></div>
        <div class="cut-white-bottom" style="z-index: 5;"></div>


        <app-last-works style="z-index: 5;"></app-last-works>
    </div>

    <div class="py-6 container2">
        <h1 class="text-center title-gold mb-5">Tecnologías</h1>
        <!-- show lg -->
        <div class="technologies hide-sm">
            <img src="assets\img\default\tecnologias\angular.jpg" alt="">
            <img src="assets\img\default\tecnologias\js.jpg" alt="">
            <img src="assets\img\default\tecnologias\css.jpg" alt="">
            <img src="assets\img\default\tecnologias\html.jpg" alt="">
            <img src="assets\img\default\tecnologias\jquery.jpg" alt="">
            <img src="assets\img\default\tecnologias\bootstrap.jpg" alt="">
        </div>
        <div class="technologies mt-4 hide-sm">

            <img src="assets\img\default\tecnologias\laravel.jpg" alt="">
            <img src="assets\img\default\tecnologias\ajax.jpg" alt="">

            <img src="assets\img\default\tecnologias\php.jpg" alt="">
            <img src="assets\img\default\tecnologias\mysql.jpg" alt="">
            <img src="assets\img\default\tecnologias\apache.jpg" alt="">
        </div>
        <!-- show sm -->
        <div class="technologies technologies-sm">
            <img src="assets\img\default\tecnologias\angular.jpg" alt="">
            <img src="assets\img\default\tecnologias\js.jpg" alt="">
            <img src="assets\img\default\tecnologias\css.jpg" alt="">

        </div>
        <div class="technologies technologies-sm mt-2">
            <img src="assets\img\default\tecnologias\html.jpg" alt="">
            <img src="assets\img\default\tecnologias\jquery.jpg" alt="">
            <img src="assets\img\default\tecnologias\bootstrap.jpg" alt="">
        </div>


        <div class="technologies mt-2 technologies-sm">
            <img src="assets\img\default\tecnologias\laravel.jpg" alt="">
            <img src="assets\img\default\tecnologias\ajax.jpg" alt="">
            <img src="assets\img\default\tecnologias\php.jpg" alt="">

        </div>
        <div class="technologies mt-2 technologies-sm">
            <img src="assets\img\default\tecnologias\mysql.jpg" alt="">
            <img src="assets\img\default\tecnologias\apache.jpg" alt="">

        </div>

        <br>
    </div>
</div>