<div class="py-6 hire-us relative" style="background-image:url('assets/img/default/hire-us/personas-trabajando.jpg')">
    <div *ngIf="!location.includes('nosotros')" class="cut-white-top"></div>
    <div *ngIf="location.includes('nosotros')" class="cut-gold-top"></div>

    <div class="cut-gold-t-top"></div>


    <div class="bg-black"></div>
    <div class="container2">

        <div class="row">
            <div class="col-12">
                <h1 class="text-white-b text-justify text-center">¿Por qué contratarnos?</h1>

                <h3 class="text-white-b text-justify   mb-4 mt-5"><i class="far fa-check-square text-gold-b"></i> No incurrimos en plagio. </h3>

                <h3 class="text-white-b text-justify   mb-4"><i class="far fa-check-square text-gold-b"></i> No utilizamos plantillas ni gestores de contenidos, por tanto, no estamos limitados para crear, ajustar y modificar. </h3>

                <h3 class="text-white-b text-justify  mb-4" data-wow-duration="2s"><i class="far fa-check-square text-gold-b"></i> Trabajamos con un staff de profesionales en las áreas de programación web y diseño gráfico, quienes poseen amplia y sólida experiencia.</h3>

                <h3 class="text-white-b text-justify  mb-4" data-wow-duration="2s"><i class="far fa-check-square text-gold-b"></i> Creamos sitios web personalizados desde cero, a través de la creación de algoritmos basados en códigos de programación, según las necesidades de la marca. </h3>
                <h3 class="text-white-b text-justify  mb-4" data-wow-duration="2s"><i class="far fa-check-square text-gold-b"></i> Diseños 100% originales, con base en estudio de la filosofía e identidad visual de la marca. </h3>
                <h3 class="text-white-b text-justify  mb-4" data-wow-duration="2s"><i class="far fa-check-square text-gold-b"></i> Todos nuestros sitios web pueden ser modificados en cualquier momento, pues no estamos sujetos a plantilla o gestor alguno. Metafóricamente, con Sapiencia Web tu página “es y será un traje
                    hecho a la medida”.</h3>
                <h3 class="text-white-b text-justify  mb-4" data-wow-duration="2s"><i class="far fa-check-square text-gold-b"></i> Acompañamiento y asesoría durante el desarrollo del proyecto, posteriormente, con lapsos variables según cada caso. </h3>
                <h3 class="text-white-b text-justify  mb-4" data-wow-duration="2s"><i class="far fa-check-square text-gold-b"></i> Capacitación para los casos en los que aplique. </h3>
                <h3 class="text-white-b text-justify  mb-4" data-wow-duration="2s"><i class="far fa-check-square text-gold-b"></i> Clientes satisfechos en diversos países.</h3>


            </div>
        </div>
    </div>
    <div *ngIf="!location.includes('nosotros')">
        <!-- <div class="cut-gold-t-bottom"></div> -->
        <!-- <div class="cut-white-bottom"></div> -->
    </div>
</div>